@{
    ViewBag.Title = "Home Page";
}
    <section id="home" class="home">
        <div class="home_overlay">
            <div class="container">
                <div class="row">
                    <div class="main_slider_area">
                        <div class="slider">
                            <div class="single_slider">
                                <h3>The best way to not feel hopeless is to get up and do SOMETHING!</h3>
                                <p>Peace  -  Unity  -  Love</p>
                                <div class="single_slider_img_icon">
                                    <img src="~/Content/images/ii1.png" alt="" />
                                </div>
                                <div class="col-sm-6 col-sm-offset-3">
                                    <div class="home_searce_domain_area">
                                        <div class="main_home_searce_domain_content">
                                            <input type="text" placeholder="How Can I Help You? ..." />
                                            <select class="form-control">
                                                <option>FORUM</option>
                                                <option>ACTION</option>
                                                <option>USER</option>
                                            </select>
                                            <input type="submit" value="Look Up!" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End of Banner Section -->

    <section id="abouts" class="webhost_service">
        <div class="container-fluid">
            <div class="row">
                <div class="main_webhost_service_area text-center">
                    <div class="col-sm-6 no-padding">
                        <div class="single_webhost_left">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="single_webhost_left_img">
                                        <img src="~/Content/images/volunteer.png" alt="" />
                                    </div>
                                    <div class="single_webhost_left_content">
                                        <h3>What does it mean a Volunteer?</h3>
                                        <p>
                                            * a person who freely offers to take part in an enterprise or undertake a task.
                                            * a person who works for an organization without being paid.
                                        </p>
                                        <a href="" class="btn">More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 no-padding">
                        <div class="single_webhost_right">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="single_webhost_right_img">
                                        <h1>NGO</h1>
                                    </div>
                                    <div class="single_webhost_right_content">
                                        <h3>What does it mean an NGO?</h3>
                                        <p>
                                            a non-profit organization that operates independently of any government, 
                                            typically one whose purpose is to address a social or political issue.
                                        </p>
                                        <a href="" class="btn">More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="feature" class="feature">
        <div class="feature_overlay">
            <div class="container">
                <div class="row">
                    <div class="main_feature_content_area">
                        <div class="col-sm-12">
                            <div class="heading_title text-center">
                                <h2>Our Features</h2>
                                <p>Our Best Features</p>
                            </div>
                        </div>
                        <div class="main_feature_content text-center">
                            <div class="col-sm-3">
                                <div class="single_feature">
                                    <div class="single_feature_img">
                                        <img src="~/Content/images/ft1.png" alt="" />
                                    </div>
                                    <div class="separator"></div>
                                    <h3>Live Support</h3>
                                    <p>Live Chat Software from Provide Support is a leading solution for online customer support and website monitoring.</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="single_feature">
                                    <div class="single_feature_img">
                                        <img src="~/Content/images/ft2.png" alt="" />
                                    </div>
                                    <div class="separator"></div>
                                    <h3>Cloud Donation</h3>
                                    <p>something that is given to a charity, especially a sum of money.</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="single_feature">
                                    <div class="single_feature_img">
                                        <img src="~/Content/images/ft3.png" alt="" />
                                    </div>
                                    <div class="separator"></div>
                                    <h3>Collaboration</h3>
                                    <p>the action of working with someone to produce something.</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="single_feature">
                                    <div class="single_feature_img">
                                        <img src="~/Content/images/ft4.png" alt="" />
                                    </div>
                                    <div class="separator"></div>
                                    <h3>Live Monitoring</h3>
                                    <p>a process through which an administrator can review, evaluate and modify the addition, deletion, modification and use of data on software, a database or a system.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="clients" class="clients">
        <div class="container">
            <div class="row">
                <div class="main_clients_area">
                    <div class="main_clients_top_content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="client_left_content">
                                    <h2>Our Clients</h2>
                                    <p>
                                        a person or organization using the services 
                                        of a lawyer or other professional person or company...
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="single_right_client">
                                            <img src="~/Content/images/c1.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="single_right_client">
                                            <img src="~/Content/images/c2.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="single_right_client">
                                            <img src="~/Content/images/c3.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="single_right_client">
                                            <img src="~/Content/images/c4.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main_clients_bottom_content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="single_client_bottom">
                                    <p>
                                        “ We are, the infinite universe. :) ”
                                    </p>
                                    <a href="">-bloodkick</a>
                                    <div class="singel_client_bottom_img">
                                        <img src="~/Content/images/SAJED.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single_client_bottom">
                                    <p>
                                        “ Be kind, always! ”
                                    </p>
                                    <a href="">-bloodkick</a>
                                    <div class="singel_client_bottom_img">
                                        <img src="~/Content/images/SAJED.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single_client_bottom">
                                    <p>
                                        “ Neer underestimate my power :). ”
                                    </p>
                                    <a href="">-bloodkick</a>
                                    <div class="singel_client_bottom_img">
                                        <img src="~/Content/images/SAJED.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="pricing" class="pricing">
        <div class="container">
            <div class="row">
                <div class="main_pricing">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="row">
                            <div class="col-sm-8 col-xs-12">
                                <div class="single_left_planig">
                                    <h2>Do you want to view Plans & Pricing ?</h2>
                                    <p>Follow the button in the right section.</p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="single_right_planig">
                                    <a href="" class="btn btn-primary">Plans & Pricing</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End of Pricing Section -->


    